
        @media only screen and (maxwidth:480px){
            .carousel-caption>h3,p{
                font-size: 14px !important;
               
            }
        }
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            font-family: 'Lato',sans-serif;
        }
      
        .carousel-caption{
            top: 30%;
            bottom: auto;
            background-color: rgba(0,0,0,0.6);
            border-radius: 10px;
            font-size: 25px;
        
        }
       
         .footer {
             border-top: 1px solid black;
             padding: 10px;
         }
         
         #contacts {
             display: flex;
             flex-direction: column;
         }
         
         .social {
             display: flex;
             justify-content: space-evenly;
         }
         
         #face {
             color: blue;
         }
         
         #face:hover {
             cursor: pointer;
         }
         
         #insta {
             color: #AB173B;
         }
         
         #insta:hover {
             cursor: pointer;
         }
         
         #p {
             color: crimson;
         }
         
         #p:hover {
             cursor: pointer;
         }
         
         #twit {
             color: #3089CE;
         }
         
         #twit:hover {
             cursor: pointer;
         }
         
         #lastline {
             text-align: center;
             padding: 20px;
         }